[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.812"
pylint = "==2.7.0"

[packages]
argocd-client = { editable = true, git = "https://github.com/globocom/argocd-client.git" }
injector = "==0.18.4"
requests = "==2.25.1"
kopf = "==0.28.1"
pydantic = "==1.7.3"
kubernetes = "==12.0.1"
coverage = "==5.3.1"
[requires]
python_version = "3.8"
